#about {
    padding-top: 250px;
    background-color: #FAFAFA;
}
.about-us{
    width: 864px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.about-text {
    width: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-text h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.about-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;
}
.about-card-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 230px;
    height: 209px;
    background: #FFFFFF;
}
.about-card-mini:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.about-card-mini h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.about-card-mini p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}